<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inhouse Part Detail</h1>
<form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST">

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

    <table>
        <!--
        <tr>
            <th>Label</th>
            <th>Input</th>
            <th>Errors</th>
        </tr>
        -->
        <tr>
            <td>Part name: </td>
            <td><input type="text" th:field="*{name}" class="form-control mb-4 col-4"/></td>
        </tr>
        <tr>
            <td>Part price: </td>
            <td><input type="text" th:field="*{price}" class="form-control mb-4 col-4"/></td>
            <td><p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p></td>
        </tr>
        <tr>
            <td>Part inventory: </td>
            <td><input type="text" th:field="*{inv}" class="form-control mb-4 col-4"/></td>
            <td><p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p></td>
        </tr>
        <tr>
            <td>Part ID (optional): </td>
            <td><input type="text" th:field="*{partId}" class="form-control mb-4 col-4"/></td>
        </tr>
        <tr>
            <td>Minimum inventory: </td>
            <td><input type="text" th:field="*{minInv}" class="form-control mb-4 col-4"/></td>

        </tr>
        <tr>
            <td>Maximum inventory: </td>
            <td><input type="text" th:field="*{maxInv}" class="form-control mb-4 col-4"/></td>
            <td><p th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}">Inventory Error</p></td>
        </tr>
    </table>
<div th:if="${#fields.hasGlobalErrors()}">
    <ul>
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
    </ul>
</div>

<p><input type="submit" value="Submit" /></p>
</form>
<p><errors path="price" cssClass=""error/><p>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>